* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mistyrose;
}

.container {
    backdrop-filter: blur(10px);
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9d9d911;
    border: 6px solid black;
    border-radius: 64px;
}
.container input{
    background-color: transparent;
}
h1 {
    
    text-transform: capitalize;
    font-size: 500%;
    font-weight: lighter;
}

.input{
    height: 12%;
    width: 90%;
    margin: 2%;
    border: none;
    padding: 2%;
    border-radius: 8px;
    outline: none;
    font-size: larger;
    font-family: "Inria Sans", sans-serif;
}

button {
    background-color: white;
    color: black;
    border: none;
    font-size: 200%;
    padding: 2% 5%;
    border-radius: 10px;
    font-family: "Inria Sans", sans-serif;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white 1px 1px;
}

.container>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.container>div>input{
    height: 80px;
    width: 80px;
}
.container>div>label{
    
    text-align: end;
    display: flex;
    align-items: center;
    height: 100%;
}