*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    cursor: default;
}
body{
    height: 100vh;
    background-color: white;
}
header{
    background-color: mistyrose;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: black;
    font-size: 300%;
    font-weight: lighter;
}
.logout{
    position: absolute;
    z-index: 0;
    right: 5%;
    font-size: 200%;
    color: black;
    height: 5%;
    display: flex;
    align-items: center;
    gap: 20%;
    cursor: pointer;
}

main{
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.adicionarTarefaPage,.editarTarefaPage,.comentarTarefaPage{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.comentarTarefaPage{
    width: 0px;
    right: -2px;
    border-radius: 64px 0 0 64px;
    transition: 0.5s;
    justify-content: start;
    padding: 1%;
}
.adicionarTarefaPage>input,.editarTarefaPage>input{
    height: 10%;
    width: 40%;
    border: none;
    font-size: 300%;
    padding: 2%;
    border-radius: 16px;
    cursor: auto;
}
.closeButton{
    height: 100px;
    position: absolute;
    top: 4%;
    left: 7%;
    background-color: white;
    border-radius: 100%;
    padding: 0.3%;
    cursor: pointer;
    z-index: 1;
}

fieldset,textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 20%;
    width: 17%;
    overflow: hidden;
}
fieldset>p{
    font-size: 150%;
}
fieldset>div>div{
    font-size: 150%;
}

.descricaoTarefa{
    font-size: 100%;
    padding: 1%;
    height: 15%;
    text-align: start;
    resize: none;
    width: 40%;
}

.topContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.topContainer>div{
    height: 100%;
    display: flex;
    align-items: center;
}
h2{
    text-transform: uppercase;
    color: black;
    font-size: 200%;
    font-weight: lighter;
    margin: 3%;
}
.topContainer img{
    height: 70px;
    margin: 2% 5% 0% 0%;
}
#filtroButton{
    cursor: pointer;
}
.painelFiltro{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(320px, -300px);
    width: 150px;
    text-align: center;
    background-color: rgba(117, 12, 12, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;}
.holder{
    height: 90%;
    width: 97%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 2%;
}
.holder.holder::-webkit-scrollbar{
    display: none;
}
.tarefas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5%;
}
.tarefa{
    width: 90%;
    background-color: rgb(252, 239, 241) ;
    border-radius: 26px;
}
.tarefaTop{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: pink;
    border-radius: 26px 26px 0px 0px;
}
.tituloTarefa{
    font-size: 150%;
    font-weight: bolder;
}
.tarefaTopRight{
    height: 100%;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    display: inherit;
    flex-direction: inherit;
    justify-content: end; 
    gap: 6%;
}
.tarefaTopRight img{
    height: 80%;
    width: auto;
}
.imgIcon{
    cursor: pointer;
}
#mensagemInfoWarning {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    color: white;
    padding: 10px;
    border-radius: 5px;
   
}
.date{
    font-weight: bolder;
}
.tarefaBottom{
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 1% 2%;
    justify-content: space-between;
    width: 100%;
    border-radius: 0 0 26px 26px;
}
.tarefaDescricao{
    margin-right: 8%;
    font-size: small;
    font-weight: bold;
    width: 100%;
    text-wrap: wrap;

}

button{
    text-transform: uppercase;
    background-color: pink;
    color:black;
    border: none;
    font-size: 250%;
    padding: 1% 3%;
    border-radius: 20px;
    margin-bottom: 5%;
    cursor: pointer;
}


.topCommentSession{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.comentarios{
    width: 100%;
}
.comentario{
    background-color: rgb(230, 112, 132)  ;
    color:black;
    padding: 2%;
    border-radius: 16px;
    margin-top: 8%;
}
.comentario>h3{
    margin-bottom: 3%;
}
.closeButtonComment{
    height:50px;
    position: relative;
}
.buttonCommentSession{
    font-size: 180%;
    height: fit-content;
    background-color: pink;
    margin-bottom: 0px;
}

#buttonAdicionarTarefa{
    display: none;
}
.comentarioTextArea{
    width: 100%;
    padding: 2%;
    height: 100px;
    margin: 6% 0 2% 0;
}

textArea{
    cursor: auto;
}
#tarefaComentariosPageTop{
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 100%;
    align-items: center;
}
.botaoPublish{
    font-size: 100%;
    width: fit-content;
    background-color: pink;
}

.comentarioTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comentarioContent{
    word-wrap: break-word; 
}